<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${user.getUser().getUserType().equals(user.getUser().getUserType().MANAGER)}" style="text-align: center;">


    <div style="width: 33%;float:left">
        <div>
            <div>
                <div>
                    <div>Add Waiter</div>
                </div>

                <div>

                    <form id="loginform" role="form" action="/manager/addWaiter"
                          method="post">

                        <div>
                            <span><i></i></span>
                            <input id="name" type="text" name="name" value="" placeholder="name ">
                        </div>

                        <div>
                            <span><i></i></span>
                            <input id="surname" type="text" name="surname" value=""
                                   placeholder="surname">
                        </div>

                        <div>
                            <span><i></i></span>
                            <input id="login-username" type="text" name="username" value=""
                                   placeholder="username ">
                        </div>

                        <div>
                            <span><i></i></span>
                            <input id="login-password" type="password" name="password"
                                   placeholder="password">
                        </div>


                        <div>
                            <!-- Button -->

                            <div>
                                <button type="submit" id="btn-login">Add</button>

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div style="width: 33%;float:left">
        <div>
            <div>
                <div>
                    <div>Add Table</div>
                </div>

                <div>


                    <form role="form" action="/manager/addTable" method="post">

                        <div>
                            <span><i></i></span>
                            <input id="number" type="number" name="number" value=""
                                   placeholder="number ">
                        </div>

                        <div>
                            <span><i></i></span>

                            <input id="charsCount" type="number" name="chairsCount" value=""
                                   placeholder="chairsCount">
                        </div>

                        <div th:each="waiter : ${waiters}">
                            <span><span
                                    th:text="${waiter.name}"></span></span>
                            <input id="waiter" type="radio" class="form-control" name="user" th:value="${waiter.id}">
                        </div>

                        <div>
                            <!-- Button -->

                            <div>
                                <button type="submit">Add</button>

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div style="width: 33%;float:left">
        <div>
            <div>
                <div>
                    <div>Add Product</div>
                </div>

                <div>


                    <form role="form" action="/manager/addProduct" method="post">

                        <div>
                            <span><i></i></span>
                            <input id="product_name" type="text" name="name" value=""
                                   placeholder="name">
                        </div>

                        <div>
                            <span><i></i></span>

                            <input id="price" type="text" name="price" value=""
                                   placeholder="price">
                        </div>


                        <div>
                            <!-- Button -->

                            <div>
                                <button type="submit">Add</button>

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>


</div>

</body>
</html>