<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<div>
    <div id="loginbox" style=" text-align: center;">
        <div>
            <div>
                <h1>Welcome To Cafe Management</h1>
            </div>

            <div>


                <form id="loginform" role="form" action="/login" method="post">

                    <div>
                        <span><i></i></span>
                        <input id="login-username" type="text" name="username" value=""
                               placeholder="username ">
                    </div>

                    <div>
                        <span><i></i></span>

                        <input id="login-password" type="password" name="password"
                               placeholder="password">
                    </div>
                    <br/>

                    <div>
                        <!-- Button -->

                        <div>
                            <button type="submit" id="btn-login">Login</button>

                        </div>
                    </div>

                </form>


            </div>
        </div>
    </div>
</div>

</body>
</html>